@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background: linear-gradient(#FFFFFF, #00B3EC) fixed ;
    /* Text de couleur #3900EC, 1,3 fois taille normal et en gras */
    font-color : #3900EC;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.enTete {
    background-color: #00b3ed;
}

h1 {
    color: #3900EC;
    font-size: 2em;
    font-weight:bold !important;
    text-align: center;
    font-family: 'Righteous', cursive;
}

h2 {
    color: #3900EC;
    font-size: 1.5em !important;
    font-weight: bold !important;
    text-align: center;
    font-family: 'Righteous', cursive;
}

p {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin-bottom: 0;
}

label {
    margin-bottom: 0 !important;
}

a {
    color :#AF00EC
}

a:hover {
    color :#EC00B3
}

/*logoSite: Centré, marge intérieure 5 px, hauteur 120px, image arrondie 5px dans les angles*/
.logoSite {
    display: block;
    margin: 5px auto;
    padding: 5px;
    height: 120px;
    border-radius: 5px;
}

.cell {
    background: linear-gradient(#FFFFFF, #00B3EC);
    margin: 2px;
    padding: 5px;
}

.centrerVerticalement {
    display: flex;
    align-items: center;
}

.centrerHorizontalement {
    text-align: center !important;
}

.labelInputDiv {
    color: #3900EC;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.inputPlaceholder, .boutonTexte {
    font-family: 'Righteous', cursive;
}

.textLogo {
    margin-bottom: 0;
}

.logoIUT {
    width: 100px;
    height: auto;
    vertical-align: center;
}

img:hover {
    transform: scale(1.2);
}

.noir {
    color: black;
}

.imageCompte {
    width: 100%;
}


.negatif {
    color: red;
}

.positif {
    color: green;
}
